extends _layout

block title
	title Отделения внутренняя
block config
	- var main = false
	- var parse = true
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				// картинки на внутрнней странице нету, т.к. есть фотка врача
				//- .page-head-bg
				//- 	.page-head-bg-inner
				//- 		img(data-src="img/head/1.jpg", alt="").js-image
			.page-head-container
				.page-head-inner
					h1.title.h1 Клинико-диагностическая лаборатория
					.bread-cont
						a(href="#").bread-item Главная
						a(href="#").bread-item Отделения
						a(href="#").bread-item Клинико-диагностическая лаборатория
				.page-head-vrach
					.vrach-vrach
						a(href="#").vrach-vrach-inner
							img(data-src="img/doctor/1.png", alt="Ирина Владимировна Мусатова").js-image
							.content-block
								.text-sm Зав. отделением
								.vrach-vrach-name Ирина Владимировна Мусатова
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							// есди элемент стикается - кладем его в этот контейнер,
							.aside-menu-stick.js-stick.js-dropdown-parent
								// модификатор .nav для ссылок на страницы и .scroll для ссылок скролящих
								.aside-title.title.h3.js-dropdown.dropdown Отделения
								ul.aside-nav.nav.js-dropdown-target
									li.aside-nav-item
										a.aside-nav-link(href="#") Клинико-диагностическая лаборатория
									li.aside-nav-item
										a.aside-nav-link(href="#") УЗ-диагностика
									li.aside-nav-item
										a.aside-nav-link(href="#") Рентгенодиагностика
									li.aside-nav-item.js-aside-drop
										span.aside-nav-link.dropdown Хирургия
										ul
											li.aside-nav-item
												a(href="#").aside-nav-link Хирургия
											li.aside-nav-item
												a(href="#").aside-nav-link Травматология
											li.aside-nav-item
												a(href="#").aside-nav-link Онкология
											li.aside-nav-item
												a(href="#").aside-nav-link Эндоскопия
									li.aside-nav-item
										a.aside-nav-link(href="#") Стоматология
									li.aside-nav-item
										a.aside-nav-link(href="#") Дермотокосметология
									li.aside-nav-item
										a.aside-nav-link(href="#") Гинекология
									li.aside-nav-item
										a.aside-nav-link(href="#") Урология
									li.aside-nav-item.js-aside-drop
										span.aside-nav-link.dropdown Терапия
										ul 
											li.aside-nav-item
												a(href="#").aside-nav-link Хирургия
											li.aside-nav-item
												a(href="#").aside-nav-link Травматология
											li.aside-nav-item
												a(href="#").aside-nav-link Онкология
											li.aside-nav-item
												a(href="#").aside-nav-link Эндоскопия
									li.aside-nav-item
										a.aside-nav-link(href="#") Офтальмология
									li.aside-nav-item
										a.aside-nav-link(href="#") Неврология
									li.aside-nav-item
										a.aside-nav-link(href="#") Оториноларингология
									li.aside-nav-item
										a.aside-nav-link(href="#") ФизИотерапия
								a(href="#").link-back.dropdown Отделения

					.aside-content
						.service-wrapper
							.service-head
								.service-title
									.title.h2 Услуги отделения
								.service-search 
									include includes/_suggest.pug
							.service-letters
								.service-letters-inner
									- var letters = ['а','б','в','г','д','е','Ё','Ж','з','и','й','к','л','м','н','о','п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я']
									each letter in letters
										.service-letter.js-filter-letter(data-letter=letter)
											.service-letter-inner= letter
							script.
								var elems = {
									'section': [
										{
											'id': 1,
											'name': null,
											'link': '#',
											'subsection' :[
												{
													'name': null,
													'link': '#',
													'letters': [
														{
															'letter': 'a',
															'items': [
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'д',
															'items': [
																{
																	'name': 'Дуплексное сканирование брахиоцефальных артерий на экстракраниальном уровне',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов почек',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов щитовидной железы',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов органов малого таза',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов внутренних органов',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов матки, пуповины и плода при беременности',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование артерий верхних конечностей',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование вен нижних конечностей',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование артерий нижних конечностей',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование интракраниальных артерий',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов органов малого таза',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов внутренних органов',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов матки, пуповины и плода при беременности',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'м',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'р',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'з',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
													]
												}
											]	
										},
									],
									'activeLetters':[
										{
											'letter': 'а'
										},
										{
											'letter': 'д'
										},
										{
											'letter': 'м'
										},
										{
											'letter': 'р'
										},
										{
											'letter': 'з'
										},
									]
								};
							.service-items

								//- .service-item
									//- .service-item-title
									//- 	.title.h2 Клинико-диагностическая лаборатория
									//- .service-item-container
									//- 	.service-item-item
									//- 		.service-item-letter
									//- 			|A
									//- 		ul.service-item-links
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия Вентолином через небулайзер
									//- 			li
									//- 				a(href="#").text Акустическая терапия почек и верхних мочевых путей
									//- 			li
									//- 				a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
									//- 	.service-item-item
									//- 		.service-item-letter
									//- 			|Д
									//- 		ul.service-item-links
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия Вентолином через небулайзер
									//- 			li
									//- 				a(href="#").text Акустическая терапия почек и верхних мочевых путей
									//- 			li
									//- 				a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
									//- 	.service-item-item
									//- 		.service-item-letter
									//- 			|М
									//- 		ul.service-item-links
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
									//- 			li
									//- 				a(href="#").text Аэрозольтерапия Вентолином через небулайзер
									//- 			li
									//- 				a(href="#").text Акустическая терапия почек и верхних мочевых путей
									//- 			li
									//- 				a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
									//- 			li
									//- 				a(href="#").text Магнитно-резонансная ангиография интракраниальных сосудов
									//- 			li
									//- 				a(href="#").text Магнитно-резонансная томография всего позвоночника (всех отделов)
									//- 			li
									//- 				a(href="#").text Магнитно-резонансная томография головного мозга
									//- .btn.light.js-expand
									//- 	span Смотреть все 118 услуг
							//- .service-items
							//- 	.service-item
							//- 		.service-item-title
							//- 			.title.h2 Клинико-диагностическая лаборатория
							//- 		.service-item-container
							//- 			.service-item-subtitle
							//- 				.title.h3 Онкология
							//- 			.service-item-item
							//- 				.service-item-letter
							//- 					|A
							//- 				ul.service-item-links
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Вентолином через небулайзер
							//- 					li
							//- 						a(href="#").text Акустическая терапия почек и верхних мочевых путей
							//- 					li
							//- 						a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
							//- 			.service-item-item
							//- 				.service-item-letter
							//- 					|Д
							//- 				ul.service-item-links
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Вентолином через небулайзер
							//- 					li
							//- 						a(href="#").text Акустическая терапия почек и верхних мочевых путей
							//- 					li
							//- 						a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
							//- 			.service-item-item
							//- 				.service-item-letter
							//- 					|Д
							//- 				ul.service-item-links
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Вентолином через небулайзер
							//- 					li
							//- 						a(href="#").text Акустическая терапия почек и верхних мочевых путей
							//- 					li
							//- 						a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
							//- 		.service-item-container
							//- 			.service-item-subtitle
							//- 				.title.h3 Травматология
							//- 			.service-item-item
							//- 				.service-item-letter
							//- 					|A
							//- 				ul.service-item-links
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Вентолином через небулайзер
							//- 					li
							//- 						a(href="#").text Акустическая терапия почек и верхних мочевых путей
							//- 					li
							//- 						a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
							//- 			.service-item-item
							//- 				.service-item-letter
							//- 					|Д
							//- 				ul.service-item-links
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Вентолином через небулайзер
							//- 					li
							//- 						a(href="#").text Акустическая терапия почек и верхних мочевых путей
							//- 					li
							//- 						a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
							//- 			.service-item-item
							//- 				.service-item-letter
							//- 					|Д
							//- 				ul.service-item-links
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
							//- 					li
							//- 						a(href="#").text Аэрозольтерапия Вентолином через небулайзер
							//- 					li
							//- 						a(href="#").text Акустическая терапия почек и верхних мочевых путей
							//- 					li
							//- 						a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
	.wrapper.gray.special
		.box
			.about-wrapper
				.about-inner
					.about-about
						.about-about-inner
							.about-about-col
								.about-about-text
									h2.title.h2 Об отделении
									p.text.primary Отделение предлагает широкий спектр эффективного немедикаментозного лечения, которое проводят специалисты высокого класса. А современное, последнего поколения оборудование помогает успешно справляться с задачей и быстро восстанавливать утраченные функции.
							.about-about-col
								.about-about-items
									mixin aboutitem(num,text)
										.about-item
											.about-item-inner
												.about-item-num #{num}
												.about-item-text.text #{text}
									+aboutitem('13','Отделений')
									+aboutitem('19','Врачей')
								.about-img
									.video-container
										.video-container-inner
											//в этотм блоке может быть: видос <video>, айфрейм с ютуба,слайдер и просто картинка
											.video-container-slider
												.video-container-slider-inner.js-sideslider
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
												.dots-wrap
						.about-about-dopcontent
							.about-about-dopcontent-inner.js-showmore-target
								.aside-wrapp
									.aside-menu
										.aside-menu-inner
											include includes/_dipslider.pug

									.aside-content
										.title.h2 Дополнительная информация
										.content-wrapper
											p В отделении успешно проводится лечение весьма распространённого в наши дни синдрома хронической усталости. Применение физиотерапевтических методик существенно расширяет диапозон лечебных возможностей и сокращает сроки лечения. Лечиться у нас - эффективное восстановление утраченного здоровья. отделении успешно проводится лечение весьма распространённого в наши дни синдрома хронической усталости.
											p Применение физиотерапевтических методик существенно расширяет диапозон лечебных возможностей и сокращает сроки лечения. Лечиться у нас - эффективное восстановление утраченного здоровья.
											h4 По проектам Анатолия Остроградского были созданы
											ul 
												li В неорусском стиле древнегреческих теремов Городское учреждение попечителей на ул. Пироговская, 9а (1909г.)
												li Сооружение павильона гигиенической выставки в Санкт-Петербурге (1919г.)
												li Доходные дома: ул. Старый Арбат, 28 (1903г.), ул. Пушечная, 4 (1902г.), Ул. Пречистенка, 39 (1905г.), ул. Мамонтова, 14 (1911г.)
												li Особняки: ул. Садово-Спасская, 2 (1898), Мерзляковский пер., 20 (1902г.)
							.link-dotted.js-showmore(data-alt-text='Свернуть описание') Подробнее об отделении
	.wrapper
		.box
			.wide-slider-wrap.specialist-wrap
				.otdel-head-title
					.title.h2 Специалисты
					.arr-wrap-inner
				.wide-slider
					.wide-slider-inner.js-specialist
						mixin vrach2(img,title,name)
							.vrach-wrap
								a(href="#").vrach-inner
									.vrach-vrach
										.vrach-vrach-inner
											img(data-lazy="img/doctor/"+img+".png", alt=""+name+"")
											.vrach-vrach-name #{name}
									.vrach-inner-block
										.vrach-inner-wrap
											.text-sm #{title}
						+vrach2(1,'Невролог ','Ирина Владимировна Мусатова')
						+vrach2(1,'Терапевт','Ирина Владимировна Мусатова')
						+vrach2(2,'Окулист','Стелла Олеговна Солнцева')
						+vrach2(3,'Стоматология','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf  fs огия','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf  fs огия','Ирина Владимировна Мусатова')
						+vrach2(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach2(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach2(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach2(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach2(3,'Стоматология','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
						+vrach2(4,'Стоматолfsdf ','Ирина Владимировна Мусатова')
					.dots-wrap
					.slider-counter
						.slider-curr
						.slider-divider /
						.slider-total
	include includes/_slider.pug

		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	