extends _layout

block title
	title Index
block config
	- var main = true
block content
	.wrapper.gray.page-head
		.box
			.index-slider
				.index-slider-inner.js-indexSlider
					.index-slider-item
						.index-slider-item-inner
							img(data-lazy="img/index/1.jpg", alt="Новое отделение стоматологии")
							.index-slider-content
								.title.h1 Новое отделение стоматологии
								.text.primary Полноценная стоматологическая клиника европейского уровня
								a(href="#").btn
									span Подробнее
					.index-slider-item
						.index-slider-item-inner
							img(data-lazy="img/slideradd/1.jpg", alt="Новое отделение стоматологии")
							.index-slider-content
								.title.h1 Новое отделение стоматологии2
								.text.primary Полноценная стомат 42342 4234 234ологическая клиника европейского уровня
								a(href="#").btn
									span Подробнее
					.index-slider-item
						.index-slider-item-inner
							img(data-lazy="img/index/1.jpg", alt="Новое отделение стоматологии")
							.index-slider-content
								.title.h1 Новое отделение2
								.text.primary Полноценная стоматологич34234324 еская клиника европейского уровня
								a(href="#").btn
									span Подробнее
				.arr-wrap
					.arr-wrap-inner
						.slider-counter
							.slider-curr
							.slider-divider /
							.slider-total
	.wrapper
		.box
			.otdel
				.otdel-head
					.otdel-head-search
						//не более 1го на страницу
						include includes/_formdropdown.pug
					.otdel-head-title
						h2.title.h2 Отделения
						.arr-wrap-inner

				.otdel-slider-wrap
					.otdel-slider.js-otdel
						mixin vrach(img,title,name)
							.vrach-wrap
								a(href="#").vrach-inner
									.vrach-vrach
										.vrach-vrach-inner
											img(data-lazy="img/doctor/"+img+".png", alt=""+name+"")
											.vrach-vrach-name #{name}
									.vrach-inner-block
										.vrach-inner-wrap
											.vrach-inner-title #{title}
												+icon('smallarr')
											.text 118 услуг
										.vrach-inner-add
											.vrach-inner-add-item.text TENS-терапия
											.vrach-inner-add-item.text Магнитотерапия
											.vrach-inner-add-item.text СМТ-терапия
											.vrach-inner-add-item.text Ультразвуковая терапия
											.vrach-inner-add-item.text Фонофорез
						+vrach(1,'Клинико-диагностическая лаборатория ','Ирина Владимировна Мусатова')
						+vrach(1,'Физиотерапия','Ирина Владимировна Мусатова')
						+vrach(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach(3,'Стоматология','Ирина Владимировна Мусатова')
						+vrach(4,'Стоматолfsdf  fs огия','Ирина Владимировна Мусатова')
						+vrach(4,'Стоматолfsdf  fs огия','Ирина Владимировна Мусатова')
						+vrach(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach(2,'Гинекология','Стелла Олеговна Солнцева')
						+vrach(3,'Стоматология','Ирина Владимировна Мусатова')
						+vrach(4,'Стоматолfsdf  fs огия','Ирина Владимировна Мусатова')
						+vrach(4,'Стоматолfsdf  fs огия','Ирина Владимировна Мусатова')
					.dots-wrap
					.slider-counter
						.slider-curr
						.slider-divider /
						.slider-total
	.wrapper.gray.special
		.box
			.about-wrapper
				.about-inner
					.about-about
						.about-about-inner
							.about-about-col
								.about-about-text
									h2.title.h2 О нас
									p.text.primary Наш главный принцип — поставить на службу здоровья профессионализм врача, достижения современной медицинской науки с учетом финансовых возможностей пациента
									a(href="#").btn
										span Подробнее о клинике
							.about-about-col
								.about-about-items
									mixin aboutitem(num,text)
										.about-item
											.about-item-inner
												.about-item-num #{num}
												.about-item-text.text #{text}
									+aboutitem('13','Отделений')
									+aboutitem('19','Лет практики')
									+aboutitem('118','Врачей')
									+aboutitem('1 390','Услуг')
								.about-img
									.video-container
										.video-container-inner
											//в этотм блоке может быть: видос <video>, айфрейм с ютуба,слайдер и просто картинка
											//video.fillWidth(autoplay='', loop='')
												source(src='img/index/video/clouds.mp4', type='video/mp4')
												source(src='img/index/video/clouds.webm', type='video/webm').
											.video-wrap
												.video-wrap-cover(style='background-image: url(img/index/1.jpg)')
												iframe(width='100%', height='100%', src='https://www.youtube.com/embed/rU701oPa2cE', frameborder='0', allowfullscreen='')
											//.video-container-slider
												.video-container-slider-inner.js-sideslider
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
													.video-container-slider-item
														.video-container-slider-img
															img(data-lazy="img/index/slide.jpg", alt="")
														.video-container-slider-text
															.text Концентратор кислорода "Armed" 7F-3A
												.dots-wrap
											//img(data-src="img/index/slide.jpg", alt="").js-image


	.wrapper
		.box
			.wide-slider-wrap
				.otdel-head-title
					h2.title.h2 Новости
					.arr-wrap-inner
				.wide-slider
					.wide-slider-inner.js-wide
						mixin news(img,type,title,text)
							.news-item
								a(href="#").news-item-inner
									.news-item-image
										.news-item-image-inner
											img(data-lazy="img/news/"+img+".jpg", alt=""+title+"")
										if type == 1
											.news-type
												span Новость
										if type == 2
											.news-type.sale
												span Акция	
										if type == 3
											.news-type.dvij
												span Мероприятие
									.news-item-content
										.news-item-content-inner
											.text-sm 25 июня 2017
											.title.h3 #{title}
											.text #{text}
						+news(1,1,'Первый визит в подарок!','При оплате первого визита, сумма оплаченная Вами, зачисляется на Ваш лицевой')
						+news(2,2,'Лазерная коррекция зрения','Определения критической нагрузки на сердце')
						+news(3,3,'Стресс-тест','Определения критической нагрузки на сердце')
						+news(3,3,'Стресс-тест','Определения критической нагрузки на сердце')
						+news(3,3,'Стресс-тест','Определения критической нагрузки на сердце')
						+news(3,3,'Стресс-тест','Определения критической нагрузки на сердце')
						+news(3,3,'Стресс-тест','Определения критической нагрузки на сердце')
						+news(3,3,'Стресс-тест','Определения критической нагрузки на сердце')
						+news(3,3,'Стресс-тест','Определения критической нагрузки на сердце')
	include includes/_slider.pug

		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	